/* Tentang Kami */
.tentang-kami {
  width: 100%;
  height: fit-content;
  background-color: #FBF6EE;
}

.profil-judul {
  background-image: url(../../assets/img/kegiatan-guru/Kegiatan-1.jpg);
  background-size: cover;
  height: 450px;
}

.bd-profil {
  width: 100%;
  height: 100%;
  background-color: #508d69c7;
  backdrop-filter: blur(3px);
  padding: 0 3rem;
  align-items: center;
  display: flex;
  justify-content: left;
}

.profil-title h1 {
  font-size: 3rem;
}

.profil-title p {
  font-size: 1.7rem;
  max-width: 700px;
  color: white;
}
.profil-img {
  background-image: url(../../assets/img/kegiatan-guru/Kegiatan-3.jpg);
  position: absolute;
  right: 0;
  height: 80%;
  width: 50%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.visi-misi {
  height: fit-content;
  padding: 4rem;
  position: relative;
}

.subsection-title {
  font-size: 2rem;
}

.sub-title-span {
  color: #508D69;
  max-width: 60rem;
}

.visi-misi-judul {
  display: flex;
  justify-content: left;
  width: 100%;
  height: fit-content;
  color: #FFB534;
  font-size: 2rem;
  position: relative;
  flex-direction: row;
  margin-bottom: 3rem;
  gap: 1rem;
}

.visi-misi-judul i {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #508D69;
}

.isi-content {
  max-width: 45rem;
  margin-top: 3rem;
  overflow: hidden;
}

.judul-background {
  width: 30px;
  height: 40px;
  background-color: #508D69;
  left: -6px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.kajur {
  right: -60px;
}

.name-background {
  background-color: #508D69;
  width: 600px;
  height: 130px;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  right: 0;
  bottom: 150px;
  padding: 10px 50px 10px;
}

.sub-name {
  width: 100%;
  height: 100%;
  color: white;
  letter-spacing: 3px;
}

/* Bagian Profil */
.profil {
  width: 100%;
  padding: 4rem;
}

.profil-guru-judul {
  display: flex;
  justify-content: left;
  width: 100%;
  height: fit-content;
  color: #FFB534;
  font-size: 2rem;
  position: relative;
  flex-direction: row;
  margin-bottom: 3rem;
  gap: 1rem;
}

.profil-guru-judul i {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #508D69;
}

.profil-container {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  justify-content: space-between;
  gap: 2rem;
}

.profile-card {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.profile-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}

.profile-card:hover .profile-image .overlay {
  opacity: 1;
}

.profile-card:hover .profile-image img {
  transform: scale(1.1);
}

.profile-info {
  position: absolute;
  bottom: -100px;
  width: 100%;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #508D69;
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.3s;
}

.profile-info h3 {
  font-size: 13px;
}

.profile-info p {
  font-size: 10px;
}

.profile-card:hover .profile-info {
  bottom: 0;
  opacity: 1;
}

@media (max-width: 768px) {
  .visi-misi {
    padding: 1rem;
  }

  .profil-judul {
    background-position: center;
    height: 200px;
  }

  .bd-profil {
    flex-direction: row;
    text-align: center;
  }

  .profil-title {
    margin-top: 1rem;
  }

  .profil-title h1 {
      font-size: 1.7rem;
  }

  .profil-title p {
      font-size: 1rem;
      font-weight: 200;
  }

  .profil-img {
    display: none;
  }

  .visi-misi-judul {
    margin-bottom: 10px;
}

  .visi-misi-judul h1 {
    font-size: 1.5rem;
}

  .visi-misi-judul i {
    font-size: 25px;
    margin-bottom: -5px;
}

  .judul-content {
    max-width: 100%;
  }

  .isi-content {
    width: 100%;
    max-width: none;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .judul-background {
    display: none;
  }

  .isi-content h1 {
    font-size: 1.2rem;
  }

  .isi-content p, li {
    font-size: 1rem;
  }

  .child-isi-content {
    text-align: center;
    justify-content: center;
  }

  .sub-content {
    display: block;
  }

  .judul-background {
    right: 100px;
  }

  .visi,
  .tujuan {
    text-align: center;
  }

  .kajur {
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;
    top: 20rem;
  }

  .name-background {
    display: none;
    position: relative;
    width: 100%;
    right: 0;
    bottom: -3rem;
    border-radius: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .sub-name {
    letter-spacing: 1px;
  }

  .profil {
    padding: 1rem;
  }

  .profil-guru-judul {
    margin-bottom: 20px;
}

  .profil-guru-judul h1 {
    font-size: 1.5rem;
}

  .profil-guru-judul i {
    font-size: 25px;
    margin-bottom: -5px;
}

  .profil-container {
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 160px 160px 160px 160px;
    gap: 1rem;
  }

  .profile-card {
    width: 110px;
    height: 160px;
  }

  .profile-info h3 {
    font-size: 8px;
  }
  
  .profile-info p {
    font-size: 699 px;
  }
}