.copy h1 {
    font-size: 1.8rem;
    padding: 0;
    margin: 0 10px 0 0;
}

.copy h3 {
    font-size: 1.3rem;
    padding: 0;
    margin: 5px 0 15px 0;
    color: #508D69;
}

.copy p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #508D69;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.swiper-wrapper {
    gap: 2.5rem;
}

.swiper-slide {
    width: 400px;
    height: 500px;
    border: #508D69 solid 1px;
}

.swiper-content {
    background-color: #fcedd3;
    width: 100%;
    height: 100%;
}

.hero {
    width: 100%;
    height: 175px;
    position: relative;
}

.calendar {
    width: 60px;
    height: 60px;
    float: right;
    background-color: #508D69;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.month {
    font-size: 0.8rem;
}

.photo-btn {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 40px;
    background-color: #508D69;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    transition: 0.2s all;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
}

.photo-btn:hover {
    width: 100%;
    height: 100%;
    transition: 0.2s all;
}

.photo-btn .text {
    text-align: center;
    line-height: 40px;
}

.photo-btn .gallery {
    width: 100%;
    display: none;
    flex-direction: column;
}

.photo-btn:hover .text {
    display: none;
}

.photo-btn:hover .gallery {
    display: flex;
}

.row {
    width: 100%;
    height: 34%;
    display: flex;
}

.image {
    opacity: 0.6;
    width: 34%;
    height: 100%;
    display: inline-block;
    transition: 0.2s all;
}

.image:hover {
    opacity: 1;
    transition: 0.2s all;
}

/* /* Card 1  */
.new-york {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-14.jpg") center/cover;
}

.new-york .top .image.one {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-13.jpg") center/cover;
}

.new-york .top .image.two {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-12.jpg") center/cover;
}

.new-york .top .image.three {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-11.jpg") center/cover;
}

.new-york .middle .image.one {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-14.jpg") center/cover;
}

.new-york .middle .image.two {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-13.jpg") center/cover;
}

.new-york .middle .image.three {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-11.jpg") center/cover;
}

.new-york .bottom .image.one {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-12.jpg") center/cover;
}

.new-york .bottom .image.two {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-11.jpg") center/cover;
}

.new-york .bottom .image.three {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-14.jpg") center/cover;
}

.san-fran {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-2.jpg") center/cover;
}

.san-fran .top .image.one {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-1.jpg") center/cover;
}

.san-fran .top .image.two {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-3.jpg") center/cover;
}

.san-fran .top .image.three {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-4.jpg") center/cover;
}

.san-fran .middle .image.one {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-5.jpg") center/cover;
}

.san-fran .middle .image.two {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-6.jpg") center/cover;
}

.san-fran .middle .image.three {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-7.jpg") center/cover;
}

.san-fran .bottom .image.one {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-8.jpg") center/cover;
}

.san-fran .bottom .image.two {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-9.jpg") center/cover;
}

.san-fran .bottom .image.three {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-10.jpg") center/cover;
}

.chicago {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-22.jpg") center/cover;
}

.chicago .top .image.one {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-21.jpg") center/cover;
}

.chicago .top .image.two {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-23.jpg") center/cover;
}

.chicago .top .image.three {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-24.jpg") center/cover;
}

.chicago .middle .image.one {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-25.jpg") center/cover;
}

.chicago .middle .image.two {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-26.jpg") center/cover;
}

.chicago .middle .image.three {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-27.jpg") center/cover;
}

.chicago .bottom .image.one {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-28.jpg") center/cover;
}

.chicago .bottom .image.two {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-29.jpg") center/cover;
}

.chicago .bottom .image.three {
    background: url("../../assets/img/kegiatan-guru/Kegiatan-30.jpg") center/cover;
}

.copy {
    padding: 20px;
}

.article-footer {
    bottom: 15px;
    color: graytext;
}

.article-footer .time {
    display: inline-block;
}

.article-footer .comments {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.2s all;
}

.article-footer .comments:hover {
    color: #508D69;
    transition: 0.2s all;
}
