/* Program Keahlian */
.program-keahlian {
    width: 100%;
    background-color: #FBF6EE;
}

.program-judul {
    background-image: url(../../assets/img/kegiatan-guru/Kegiatan-15.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -7rem;
    width: 100%;
    height: 450px;
}

.program-content {
    width: 100%;
    height: 100%;
    background-color: #508d69c7;
    backdrop-filter: blur(3px);
    padding: 0 3rem;
    align-items: center;
    display: flex;
    justify-content: right;
}

.program-title {
    text-align: right;
}

.program-title h1 {
    font-size: 3rem;
}

.program-title p {
    font-size: 1.7rem;
    max-width: 700px;
    color: white;
}
.program-img {
    background-image: url(../../assets/img/kegiatan-guru/Kegiatan-17.jpg);
    position: absolute;
    left: 0;
    height: 80%;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.parent-kompetensi {
    height: fit-content;
}

.child-kompetensi {
    margin-bottom: 2rem;
}

.kemampuan-judul {
    display: flex;
    justify-content: left;
    width: fit-content;
    height: fit-content;
    color: #FFB534;
    font-size: 1.4rem;
    position: relative;
}

.kemampuan-judul i {
    font-size: 40px;
    color: #508D69;
    position: absolute;
    top: -30px;
}

.kompetensi {
    max-width: 800px;
}

.keahlian {
    position: relative;
    margin-bottom: 20px;
}

.title {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    background: #508D69;
    border-radius: 5px;
    transition: background 0.3s;
    color: white;
    font-size: 1.7rem;
}

.title:hover {
    background: #427959;
}

.explanation {
    font-size: 1.3rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: #fcedd3;
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 5px;
    transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.keahlian:hover .explanation {
    max-height: 200px;
    opacity: 1;
    padding: 10px;
}

.parent-kompetensi {
    padding: 4rem;
    height: fit-content;
}

.parent-prospek {
    
}

.prospek-judul {
    display: flex;
    justify-content: left;
    width: fit-content;
    height: fit-content;
    color: #FFB534;
    font-size: 1.4rem;
    position: relative;
}

.prospek-judul i {
    font-size: 40px;
    color: #508D69;
    position: absolute;
    top: -30px;
}